<!DOCTYPE html>
<html class="flex flex-col items-center antialiased leading-tight bg-black-rock-500" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body
    class="flex flex-col min-h-screen bg-island-spice-500 max-w-screen-hd w-full"
    data-env="{{ node.env }}"
    x-data="{ open: false }"
  >
    {% include "partials/site-header.liquid" %}

    <main class="flex-grow">
      {% block content %}{% endblock %}
    </main>

    {% include "partials/site-footer.liquid" %}

    <script type="module" src="/scripts/index.js"></script>
  </body>
</html>
